---
layout: layout/body.njk
---

  <main>
    <!-- content -->
    <div class="grid">
      <!-- Sidebar -->
      <aside>
        <div class="aside-content">
          {% include "partials/sidebar.njk" %}
        </div>
      </aside>
      <section>
        <header>
            {% include "partials/nav.njk" %}
        </header>
        <article>
          {{ content | safe }}
        </article>
      </section>
    </div>
  </main>
