---
layout: layout/body.njk
---
<div class="grid">

  <section>
      {% include "components/search.njk" %}
      {{ content | safe }}
  </section>
  
  <!-- Sidebar -->
  <aside class="col-md-3">
    {% include "partials/sidebar.njk" %}
  </aside>

</div>