<script async src="https://www.googletagmanager.com/gtag/js?id=G-873B7M42VH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-873B7M42VH');
</script>