
<script async src="https://track.webpulseanalytics.com/client/653eb3b558a80dc2c3133ff7" type="module"></script>
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<link rel="stylesheet" href="css/custom.css" inline="">
<script>
    function setHue(deg) {
        document.querySelector(':root').style.setProperty('--primary-h', deg);
        document.querySelector('.hue-value').innerHTML = deg;
    }
</script>
