---
layout: layout/html.njk
---

<body>

  {{ content | safe }}

  <footer class="container-fluid">
    <div class="container">
      {% include "partials/footer.njk" %}
    </div>
  </footer>

</body>