@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";

/* Customize Pico.css */
:root {
    --font-size: 13px;

    --color: var(--fg);

    /* Transfer palette to Pico.css */
    --primary-hover: var(--primary-highlight);
    --primary-focus: var(--primary-highlight);
    --primary-inverse: var(--fg);
  
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
  
}

/* Reset Pico CSS Responsive padding */
body > header, body > footer, body > main {
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg)
}

/* Pico CSS Overrides */
article > :first-child {
    margin-top: 0px;
}
article > :first-child > :first-child {
    margin-top: 0px;
}
.grid {
    column-gap: 0px;
}
article {
    margin: 0;
    box-shadow: none;
    padding:30px;
    padding-top:15px;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6, article>p, article>ul, article>ol, article>pre {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.navbar-brand {
    font-weight: bold;
    color: var(--fg-shaded);
}

.navbar-logo {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.75rem;
}

@media (min-width: 576px) {
    :root {
        --font-size: 14px;
    }
}

@media (min-width: 768px) {
    :root {
        --font-size: 15px;
    }
}

@media (min-width: 992px) {
    main > .grid {
        grid-template-columns: 25% auto;
    }
    main > .gridright {
        grid-template-columns: auto 25%;
    }
    #hamburger-wrapper {
        display: none;
    }
    .mobile {
        display: none;
    }
    .menu {
        display: block;
    }
    .grid>aside>.aside-content,.gridright>aside>.aside-content  {
        max-width:242px;
    }
    .grid>section,.gridright>section  {
        max-width:715px;
    }
    .grid>aside>.aside-content {
        margin-left: auto;
    }
    .grid>section {
        margin-right: auto;
    }
    .gridright>aside>.aside-content {
        margin-right: auto;
    }
    .gridright>section {
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .grid > aside {
        width: 100%;
    }
    aside > section {
        display: none;
    }
    aside header {
        padding-left:15px;
    }
    article {
        padding:15px;
    }
    #hamburger-wrapper {
        display: inline;
    }
    .mobile {
        display: inline;
    }
    section>header {
        display:none;
    }
    .menu {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
}

/* Header */
aside, footer {
    background-color: var(--bg-shaded);
}

header nav, aside nav {
    margin: 0;
}

#theme-switcher {
    cursor: pointer;
    margin-right: 1rem;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
}
/* Footer */
footer {
    border-top: 1px solid var(--bg-shaded-2);
    margin-top: 3rem;
    flex-shrink: 0;
}

footer .grid {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer li {
    list-style: none;
}

footer .notice {
    font-size: 0.9rem;
}


/* Alignment */
.right {
    float: right;
    text-align: right;
}

.bold {
    font-weight: bold;
}

li p {
    margin: 0;
}

section>header {
    position: sticky;
    top: 0px;
    box-shadow: 0 5px 5px -5px var(--bg);
    border-bottom: 1px solid var(--bg-shaded);
    padding-left: 30px;
    background-color: var(--bg);
}

/* Headers */
header>ul>li {
    display: inline-block;
    padding:0;
    margin:0;
    margin-right: 1.5rem;
}
header>ul>li>a {
    display: inline;
    padding: 0.2rem;
}
header>ul {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    margin:0px;
}
