/* Reset margins for ul and li elements inside the aside */
aside {
    background-color: var(--bg-shaded);
}
aside nav ul, aside header ul,
aside li {
    margin: 0;
    margin-inline: 0;
}

aside li {
    padding: 0.1rem 0.5rem;
}

aside a {
    padding: 0.2rem;
    margin: 0;
}

aside nav {
    margin-bottom: 18px;
    margin-top: 18px;
}

aside nav > ol, aside nav > ul {
    margin-bottom: 18px;
}

aside nav > ol:first-of-type, aside nav > ul:first-of-type {
    margin: 0;
    margin-bottom: 18px;
}

/* Indent level 1 navigation items */
aside .level1 {
    padding-left: 1rem;
}
aside .level1 a {
    color: var(--fg-shaded);
}

/* Indent level 2 navigation items with smaller font size */
aside .level2 {
    padding-left: 2rem;
    font-size: 0.95rem;
}
aside .level2 a {
    color: var(--fg-shaded);
}

aside section i {
    padding: 0.5rem;
    margin: 0;
    font-size: 0.8rem;
}

/* Hover effect for icons */
aside section i:hover {
    background-color: var(--bg-shaded);
    border-radius: 20%;
}

/* Sticky sidebar navigation */
aside .aside-content {
    position: sticky;
    top: 0;
}

/* Expand/Collapse styles */
.collapsed ul {
    display: none;
}

/* Hide "up" chevron icon when list item is collapsed */
li.collapsed > div > .fa-chevron-up {
    display: none;
}

/* Hide "down" chevron icon when list item is not collapsed */
:not(li.collapsed) > div > .fa-chevron-down {
    display: none;
}

/* Cursor styles for expand/collapse icons */
.down, .up {
    cursor: pointer;
}


/* Hamburger */
#hamburger-wrapper {
    padding: 0px;
    margin-right: 0px;
}

#hamburger-btn {
    display: inline;
    padding: 0px;
}

#hamburger-btn i {
    cursor: pointer;
    background-color: var(--bg-shaded-2);
}

aside header {
    border-bottom: 1px solid var(--bg-shaded-2);
}
