@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";

/* Theme */
:root {
    --badge-color: #333;
    --badge-background: #CCC;
    --badge-color-alt: #333;
    --badge-background-alt: rgb(8, 211, 247);
    --font-size: 13px;
}

[data-theme="dark"] {
    --alt-background-color: rgb(12, 18, 22);
    --alt-border-color: rgb(22, 28, 32);
}

[data-theme="light"] {
    --alt-background-color: rgb(240, 244, 248);
    --alt-border-color: rgb(230, 234, 238);
}

/* Reset Pico CSS Responsive padding */
body > header, body > footer, body > main {
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Reset default margin */
}

/* Pico CSS Overrides */
.container section > :first-child {
    margin-top: 0px;
}

p {
    margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-weight: normal;
}

@media (min-width: 576px) {
    :root {
        --font-size: 14px;
    }
}

@media (min-width: 768px) {
    :root {
        --font-size: 15px;
    }
}

@media (min-width: 992px) {
    main .grid {
        grid-template-columns: 20% auto;
    }
    main .gridright {
        grid-template-columns: auto 20%;
    }
    #hamburger-wrapper {
        display: none;
    }
}

@media (max-width: 991px) {
    .grid > aside {
        display: none;
        width: 100%;
        margin-top: 0.5rem !important;
    }
    #hamburger-wrapper {
        display: block;
    }
}

/* Header */
header, footer {
    background-color: var(--alt-background-color);
}

header {
    border-bottom: 1px solid var(--alt-border-color);
}

header nav, aside nav {
    margin: 0;
}

aside nav {
    margin-bottom: 18px;
}

#theme-switcher {
    cursor: pointer;
    margin-right: 1rem;
}

/* Main Content */
.main-wrapper, main, main.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
}
main {
    padding-top: 2rem;
}

/* Footer */
footer {
    border-top: 1px solid var(--alt-border-color);
    margin-top: 3rem;
    flex-shrink: 0;
}

footer .grid {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer li {
    list-style: none;
}

footer .notice {
    font-size: 0.9rem;
}

/* Sidebar */
aside li {
    padding: 4px 0;
}

h4, aside nav {
    margin-bottom: 18px;
}

aside .level0 {
    padding-left: 7.5px;
}

aside .level1 {
    padding-left: 1rem;
}

aside .level2 {
    padding-left: 2rem;
    font-size: 0.95rem;
}

aside i {
    padding-left: 0.3rem;
    font-size: 0.8rem;
}

/* Alignment */
.right {
    float: right;
    text-align: right;
}

.bold {
    font-weight: bold;
}

/* Hamburger */
#hamburger-wrapper {
    padding: 0px;
}

#hamburger-btn {
    cursor: pointer;
    background-color: var(--alt-border-color);
    padding: 6px 10px 6px 10px;
}

/* Breadcrumbs */
.breadcrumbs {
    margin-bottom: 10px;
}

/* Blockquote Styles */
blockquote {
    border-left: 4px solid currentColor;
    margin-left: 0;
    padding-left: 1rem;
    font-style: normal;
}

blockquote p {
    margin: 0;
}
/* Custom Notification Styles */
.note, .success, .warning, .error {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    position: relative;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    gap: 10px;
}

.note::before, .success::before, .warning::before, .error::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    display: inline-block;
    margin-right: 0.5em;
}

.note {
    background-color: #e6f1f9;  /* Slightly blue background for light mode */
    border-left: 4px solid #c7dbe8;  /* Blue border */
    color: #4E4E4E;
}

.note::before {
    content: "\f05a";  /* Font Awesome Info Circle */
    color: #c7dbe8; /* Slightly blue icon */
}

.success {
    color: #4CAF50;
    background-color: #E8F5E9;
    border-left: 4px solid #4CAF50;  /* Green border */
}

.success::before {
    content: "\f00c";  /* Font Awesome Check */
}

.warning {
    color: #FF9800;
    background-color: #FFF3E0;
    border-left: 4px solid #FF9800;  /* Orange border */
}

.warning::before {
    content: "\f071";  /* Font Awesome Exclamation Triangle */
}

.error {
    color: #f44336;
    background-color: #FFEBEE;
    border-left: 4px solid #f44336;  /* Red border */
}

.error::before {
    content: "\f057";  /* Font Awesome Times Circle */
}

/* Blockquote styles for dark theme */
[data-theme="dark"] .note {
    background-color: #1f2e3f;  /* Darker blue background for dark mode */
    border-left-color: #3a5a7a;
    color: #D0D0D0;  /* Increased contrast for dark mode text */
}

[data-theme="dark"] .success {
    background-color: #385738;
    border-left-color: #4CAF50;
}

[data-theme="dark"] .warning {
    background-color: #5a4220;
    border-left-color: #FF9800;
}

[data-theme="dark"] .error {
    background-color: #542B2B;
    border-left-color: #f44336;
}
