  /* Calculate HSL components */
  :root {
    --primary-h: 25;
    --primary-s: 98%;
    --primary-l: 45%;
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  }
  
  /* Lighter Shades */
  :root {
    --primary-light-1: hsl(var(--primary-h), calc(var(--primary-s) - 10%), calc(var(--primary-l) + 10%));
    --primary-light-2: hsl(var(--primary-h), calc(var(--primary-s) - 20%), calc(var(--primary-l) + 20%));
    /* Add more shades as needed */
  }
  
  /* Darker Shades */
  :root {
    --primary-dark-1: hsl(var(--primary-h), calc(var(--primary-s) + 10%), calc(var(--primary-l) - 10%));
    --primary-dark-2: hsl(var(--primary-h), calc(var(--primary-s) + 20%), calc(var(--primary-l) - 20%));
    /* Add more shades as needed */
  }
  
  /* Calculate Primary Focus */
  :root {
    --primary-focus: rgba(var(--primary-h), var(--primary-s), var(--primary-l), 0.125);
  }
  
  /* Green Light scheme (Default) */
  /* Can be forced with data-theme="light" */
  [data-theme="light"],
  :root:not([data-theme="dark"]) {
    --primary-hover: var(--primary-light-1);
  }
  
  /* Green Dark scheme (Auto) */
  /* Automatically enabled if the user has Dark mode enabled */
  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --primary-hover: var(--primary-light-2);
    }
  }
  
  /* Green Dark scheme (Forced) */
  /* Enabled if forced with data-theme="dark" */
  [data-theme="dark"] {
    --primary-hover: var(--primary-light-2);
  }
  
  /* Green (Common styles) */
  :root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus); /* Use the calculated focus color */
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
  }
  