<nav>
  <ul>
    <li>
      <a class="navbar-brand" href="/">
        Site Header
      </a>
    </li>
  </ul>
  <ul>
    <li><span id="theme-switcher"><i id="theme-icon" class="fas fa-moon"></i></span></li>
    <li><a href="https://url.to.site" title="Website"><i class="fas fa-globe me-2"></i></a></li>
  </ul>      
</nav>
