{% set currentUrl = page.data.url %}
<header>
    <ul>
        <!-- Hamburger Icon -->
        <li id="hamburger-wrapper">
        <div id="hamburger-btn">
            <i class="fas fa-bars"></i>
        </div>
        </li>
        
        <!-- Brand Name -->
        <li>
        {% if metas.logo %}
            <img class="navbar-logo" src="{{ metas.icon }}">
        {% endif %}
        <a class="navbar-brand" href="/">
            {{ metas.site }}
        </a>
        </li>

        <!-- Light/Dark Theme Selector -->
        <li class="mobile right"><span class="theme-switcher"><i id="theme-icon" class="fas fa-moon"></i></span></li>

        <!-- Aux Top Links -->
        {% for link in top_links %}
        <li class="mobile right">
            <a href="{{ link.url }}" title="{{ link.title }}" title="{{ link.title }}">
            <i class="{{ link.icon }}"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
</header>
<section class="menu">
    <nav>
        {% set rootPages = search.pages("parent=undefined","nav_order=asc") %}
        {% if rootPages.length > 1 %}
            <ul>
                <!-- Page Hierarchy -->
                {% for navPage in rootPages %}

                    {% set collapsed1="collapsed" %}
                    {% set children1="" %}
                    {% if navPage.data.url == currentUrl or navPage.data.collapse == false %}
                        {% set collapsed1 = "" %}
                    {% endif %}

                    {% set searchParam1 = ["parent='", navPage.data.title, "'"] | join %}
                    {% set subPages1 = search.pages(searchParam1,"nav_order=asc") %}
                    {% for subPage1Search in subPages1 %}
                        {% set children1 = "children" %}
                        {% if subPage1Search.data.url == currentUrl %}
                            {% set collapsed1 = "" %}
                        {% endif %}
                    {% endfor %}

                    <li class="level0 bold {{ collapsed1 }} {{ children1 }}">

                        {% if children1 %}
                            <div class="right collapser">
                                <i class="fas fa-chevron-down down"></i>
                                <i class="fas fa-chevron-up up"></i>
                            </div>
                        {% endif %}
                        
                        <a href="{{ navPage.data.url }}">{{ navPage.data.title }}</a>

                        {% if subPages1.length %}
                            <ul>
                            {% for subPage1 in subPages1 %}

                                {% set collapsed2="collapsed" %}
                                {% set children2="" %}

                                {% if subPage1.data.url == currentUrl or subPage1.data.collapse == false %}
                                    {% set collapsed2 = "" %}
                                {% endif %}
                            
                                {% set searchParam2 = ["parent='", subPage1.data.title, "'"] | join %}
                                {% set subPages2 = search.pages(searchParam2,"nav_order=asc") %}

                                {% for subPage2Search in subPages2 %}
                                    {% set children2 = "children" %}
                                    {% if subPage2Search.data.url == currentUrl %}
                                        {% set collapsed2 = "" %}
                                    {% endif %}
                                {% endfor %}
                                
                                <li class="level1 {{ collapsed2 }} {{ children2 }}">

                                    {% if children2 %}
                                        <div class="right collapser">
                                            <i class="fas fa-chevron-down down"></i>
                                            <i class="fas fa-chevron-up up"></i>
                                        </div>
                                    {% endif %}
                                    
                                    <a href="{{ subPage1.data.url }}">{{ subPage1.data.title }}</a>

                                    {% if subPages2.length %}
                                        <ul>
                                        {% for subPage2 in subPages2 %}
                                            <li class="level2">
                                                <a href="{{ subPage2.data.url }}">{{ subPage2.data.title }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Add nav_links -->
        {% if nav_links.length > 0 %}
            <ul>
                {% for link in nav_links %}
                    <li>
                        <a href="{{ link.url }}" title="{{ link.title }}">
                            {{ link.title }} <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
    {% include "sidebar.njk" %}
</section>